/* Landing Page + General Styling */
body {
    background-color: rgb(45, 101, 151);
    color: white;
}

.infoButton {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 20px;
    margin-top: 18px;
    margin-left: 18px;
}

.landingScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

h1 {
    padding-top: 50px;
    font-size: 60px;
}

.images {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
}

img {
    height: 250px;
    width: auto;
    padding: 50px;
}

.play {
    height: 50px;
    width: auto;
    margin-top: 50px;
    font-size: 30px;
    color: rgb(45, 101, 151);
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}

.play:hover {
    color: rgb(31, 106, 172);
    box-shadow: 0 5px 15px rgba(7, 8, 63, 0.8);
}

/* GameScreen Page */
.gameScreen {
    font-size: 20px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 0px;
    padding-bottom: 25px;
}

.userTitle {
    font-size: 30px;
    margin-left: 17px;
    padding-bottom: 10px;
}

.computerTitle {
    position: relative;
    font-size: 30px;
    padding-bottom: 10px;
    left: -15px;
}

.userScoreBox {
    line-height: 80px;
    border: solid rgba(251, 255, 0, 0.8);
    text-align: center;
    background-color: black;
    width: 80px;
    height: 80px;
}

.compScoreBox {
    line-height: 80px;
    border: solid rgba(251, 255, 0, 0.8);
    text-align: center;
    background-color: black;
    width: 80px;
    height: 80px;
    margin-left: 0px;
}

.computerChoice {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.userOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 75px;
    justify-content: space-evenly;
}

.userOption.rock { 
    background-image: url('./images/imgbin_earth-cartoon-animation-png.png'); 
    background-size: cover;
    background-color: transparent;
    height: 250px;
    width: 250px;
}

.userOption.paper { 
    background-image: url('./images/imgbin_cartoon-paper-png.png'); 
    background-size: cover;
    background-color: transparent;
    height: 250px;
    width: 250px;
}

.userOption.scissors { 
    background-image: url('./images/PngItem_436670.png'); 
    background-size: cover;
    background-color: transparent;
    height: 250px;
    width: 250px;
}

.userOption {
    border: none;
    transition: all 0.2s ease-in-out;
}

.userOption:hover {
    color: rgb(31, 106, 172);
    box-shadow: 0 5px 15px rgba(251, 255, 0, 0.8);
}

.roundResults {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Game Over Pop Up */
.gameOverScreen {
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 20px;
    height: 450px;
    width: 70%;
    color: black;
}

.gameOverContent {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameOver {
    color: red;
    font-size: 48px;
    margin-bottom: 15px;
}

.closeButton {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 20px;
    margin-top: 18px;
    margin-left: 18px; 
    background-color: aliceblue;
}

.restart {
    height: 50px;
    width: auto;
    margin-top: 50px;
    font-size: 30px;
    background-color: aliceblue;
    border-radius: 15px;
    margin-top: 115px;
}
